<ion-header>
  <ion-toolbar>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-img src="../assets/aifolou.png"></ion-img>
    <ion-card-content>
      <ion-card-subtitle>ai ai folou, ai folou iu</ion-card-subtitle>
      <ion-card-title>São Lucas Ji-Paraná oferta curso de Ionic</ion-card-title>
      <p>O Centro Universitario São Lucas de Ji-Paraná Irá ofertar para os alunos de S.I. um curso de Ionic Framework. </p>
    </ion-card-content>

      <ion-item href="https://pt.wikipedia.ogr/wiki/Rede_sem_fio" Class="activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Wi+1</ion-label>
      </ion-item>

      <ion-item href="a" Class="activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Atenção</ion-label>
      </ion-item>

      <ion-item href="https://ecycle.com.br/beneficios-de-andar-de-bicicleta/" Class="activated">
        <ion-icon name="bicycle" slot="start"></ion-icon>
        <ion-label>Beneficios de Pedalar</ion-label>
      </ion-item> 
      
      <ion-card color="danger">
        <ion-card-header>
          <ion-card-subtitle>Prazo para envio de tarefas</ion-card-subtitle>
          <ion-card-title>Esgotando prazo para envio das tarefas</ion-card-title>
          <ion-card-content>N proximo final de semana encerra-se o prazo para o envio das tarefas de N2</ion-card-content>
        </ion-card-header>
      </ion-card>

      </ion-card-content>
</ion-card>
</ion-content>
